/*page1*/
html,body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
ul,li{
	padding: 0;
	margin: 0;
}
p{
	margin: 0;
}
h1,h2,h3,h4,h5{
	padding: 0;
	margin: 0;
}
a:hover{
	color: #fff;
}
#demo5{
	position: relative;
}
#result{
	position: absolute;
	right: 2.88rem;
	bottom: 0;
}
#weather{
	position: relative;
}
#userResult{
	position: absolute;
	top: 0;
	left: 2.626667rem;
}
/*page1*/
.home-bg{
	background: url('../img/page1/indexbg.png');
	background-size: 100% 100%;
}
.home-bg .mui-bar.mui-bar-nav{
	background: none;
	border: none;
}
.home-bg .mui-bar.mui-bar-nav .mui-pull-right.user{
	background: url('../img/page1/mine2.png');
	width: 0.41333rem;
	height: 0.48rem;
	background-size: 100% 100%;
	margin-top: 0.3466666667rem;
}
.page1.mui-content{
	width: 100%;
	position: absolute;
	top: 1.2rem;
	padding: 0.53rem;
	background-color:rgba(0,0,0,0) ;
}
.page1.mui-content .cont-top{
	height: 3.71rem;
}
.page1.mui-content .box1,
.page1.mui-content .box-2{
	display: inline-block;
}
.page1.mui-content .mui-pull-left{
	width: 2.67rem;
	height: 1.87rem;
}
.page1.mui-content .mui-pull-left .box1 .centigreat{
	display: inline-block;
	font-family: 'PingFang-SC-Light';
	color: #fff;
	height: 0.69rem;
	margin-top: 0.587rem;
	line-height: 0.69rem;
	width: 0.867rem;
	font-size: 0.93rem;
}
.page1.mui-content .mui-pull-left .box1 .centi{
	display: inline-block;
	color: #fff;
}
.page1.mui-content .mui-pull-left .box-2 {
	font-size: 0.27rem;
	color: #fff;
	font-family: 'PingFang-SC-Regular';
}
.page1.mui-content .mui-pull-right{
	height: 1.87rem;
}
.page1.mui-content .mui-pull-right .clouds .c-box{
	box-sizing: border-box;
	vertical-align: middle;
	margin-left: 0.373rem;
	margin-top: 0.567rem;
	display: inline-block;
	width: 0.827rem;
	height: 0.667rem;
	background: url('../img/page1/weather2.png');
	background-size: 100% 100%;
}
.page1.mui-content .mui-pull-right .clouds .weather{
	display: inline-block;
	vertical-align: bottom;
	margin-left: 0.26rem;
	font-size: 0.267rem;
	color: #fff;
}
.page1.mui-content .mui-pull-right .wea-intro{
	font-size: 0.267rem;
	color: #fff;
	margin-left: 0.373rem;
	margin-top: 0.207rem;
}
.page1.mui-content .cont-middle ul{
	height: 3.71rem;
	width: 8.8rem;
	padding-left: 0.60666rem;
}
.page1.mui-content .cont-middle ul li{
	list-style: none;
	float: left;
	width: 1.28rem;
	height: 1.54666667rem;
	margin-right: 0.2rem;
	/*margin-bottom: 0.2rem;*/
}
.page1.mui-content .cont-middle ul li:last-child{
	margin-right: 0;	
}
.page1.mui-content .cont-middle ul li img.boxsh{
	width: 1.28rem;
	height: 1.54666667rem;
}
.page1.mui-content .cont-middle ul li:nth-of-type(2){
	margin: 0 1.94rem 0 1.92rem;
	margin-top: -0.53rem;
}
.page1.mui-content .cont-bottom{
	margin-top: -0.706667rem;
}
.page1.mui-content .cont-bottom .outer{
	border: 1px solid transparent;
	width: 4.2667rem;
	height: 4.2667rem;
	margin: 0 auto;
	background: url('../img/page1/btn2.png');
	background-size: 100% 100%;
}
.page1.mui-content .cont-bottom .outer .inner{
	margin: 1.33rem 1.25rem 1.87rem;
}
.page1.mui-content .cont-bottom .outer .inner img{
	display:block;
	width: 1.76rem;
	height: 1.0667rem;
	margin: auto;
}
.page1.mui-content .cont-bottom .outer .inner .inner-intro{
	font-size: 0.32rem;
	width: 2rem;
	color: #1E8FCF;
	text-align: center;
	display: inline-block;
	margin-left: -0.1rem;
}
.page1.mui-content .cont-footer{
	width: 5.6rem;
	height: 0.8rem;
	background: #fff;
	margin: 0.796667rem auto 0;
	text-align: center;
}
.page1.mui-content .cont-footer .footer-inner{
	line-height: 0.8rem;
}
.page1.mui-content .cont-footer .footer-inner .inci{
	width: 0.64rem;
	height: 0.45rem;
	display: inline-block;
	background: url('../img/page1/traffic accident2.png');
	background-size: 100% 100%;
	vertical-align: middle;
}
.page1.mui-content .cont-footer .footer-inner .inci-intro{
	color: #666666;
	font-size: 0.32rem;
	vertical-align: middle;
}



/*page2*/
.page2.mui-content{
	background: #fff;
	padding-top: 0;
	width: 10rem;
	box-sizing: border-box;
	margin: 0.43rem 0.43rem;
}
.page2.mui-content .pic{
	margin: 0;
	padding: 0;
	width: 10rem;
	padding: 0 0.5333rem 0 0.3333rem;
}
.page2.mui-content .pic li{
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
}
.page2.mui-content .pic li:nth-child(2n+1){
	margin-right: 0.4rem;
	margin-left: -0.2rem;
}
.page2.mui-content .pic li:nth-child(3),
.page2.mui-content .pic li:nth-child(4){
	margin-top: 0.2rem;
}
.page2.mui-content .pic li img{
	width: 4.26667rem;
	height: 2.66667rem;
}
.btn-footer{
	position: absolute;
	bottom: 0.72rem;
	left: 2.333rem;
}


/*page3*/
.page3.content{
	overflow: hidden;
}
.page3 .color-orange.font-28{
	padding: 0.46667rem 0 0 0.56rem;
}
.page3 .mui-table-view .mui-table-view-cell{
	text-align: center;
}
.mui-table-view-cell>a:not(.mui-btn){
	padding: 0.001rem 0.573333rem;
}
.page3 .mui-table-view .mui-table-view-cell img{
	width: 0.48rem;
	height: 0.36rem;
	display: inline-block;
	margin-right: 0.187rem;
	margin-top: 0.1rem;
	vertical-align: middle;
}
.page3 .mui-table-view-cell{
	padding: 0.16rem 0;
}
.page3 .mui-table-view-cell>a:not(.mui-btn){
	margin: 0;
}
.page3 .mui-table-view-cell>a:not(.mui-btn){
	padding: 0 0.573333rem;
}
.page3 .mui-table-view .mui-table-view-cell .mui-media-body{
	vertical-align: middle;
	text-align: left;
}
.page3 .mui-table-view-cell:after{
	height: 0;
}
.page3 .mui-table-view:before,
.page3 .mui-table-view:after{
	height: 0;
}
.page3 .ac img{
	margin-top: 0.76rem;
}
.page3 .accident{
	display: inline-block;
	width: 8.213rem;
	height: 2.28rem;
	margin-top: 1.3rem;
	margin-left: 0.72rem;
}
.page3.content .btn-footer{
	position: none;
}
.page3.content .btn-footer .btn-blue{
	margin-bottom: 0.5333rem;
}
/*page4*/
.page4.content{
	background: #f4f4f4;
}
.page4.content ul li{
	display: inline-block;
	height: 4.506667rem;
	width: 100%;
	margin-bottom: 0.13333rem;
	padding: 0.76rem 0 0 0;
	border-bottom: 0.13333rem solid #f4f4f4;
	box-sizing: border-box;
}
.page4.content ul li:last-child{
	margin-bottom: 0;
	border-bottom: none;
}
.page4.content ul li div{
	height: 100%;
}
.page4.content ul li div img{
	width: 5.05rem;
	line-height: 4.373rem;
	height: 1.573rem;
	margin-top: 0.64rem;
	margin-left: 0.56666rem;
}
.page4.content ul li:nth-of-type(1) div img{
	height: 2.85rem;
	margin-top: 0;
}
.page4.content ul li div span{
	width: 2.6667rem;
	height: 0.91rem;
	line-height: 4.373rem;
	float: right;
	border-radius: 0.45333rem;
	text-align: center;
	line-height: 0.91rem;
	margin: 0.986rem 0.71rem 1.745rem;	
}
.mui-table-view:after{
	height: 0;
}

/*page5*/
.page5-height .btn-blue{
	position: fixed;
	bottom: 0.733333rem;
	left: 2.3333rem;
}
.page5.content{
	margin-bottom: 0.8rem;
}
.page5.content .info li{
	border-bottom: 0.0133333rem solid #ccc;
	box-sizing: border-box;
	padding-left: 0.53333rem;
	height: 1.3333333rem;
	width: 10rem;
	margin-bottom: 1px;
	line-height: 1.33333rem;
}
.page5.content .info li:last-child{
	margin-bottom: 0;
}
.page5.content .info li:first-child strong{
	margin-right: 0.53333rem;
	font-weight: 100;
}
.page5.content .info li.adreess a span{
	background: url('../img/page5/next.png');
	width: 0.226667rem;
	height: 0.4rem;
	background-size: 100% 100%;
	margin: 0.46667rem 0.533333rem 0 0;
}
.page5.content .info li.where span{
	display: inline-block;
	width: 0.426667rem;
	height: 0.426667rem;
	border-radius: 50%;
	background-size: 100% 100%;
	margin-right: 0.21333rem;
	vertical-align: middle;
}
.page5.content .info li.where em{
	margin-right: 0.21333rem;
	font-style: inherit;
}
.page5.content .info li.where span:nth-child(1){
	margin-left: -0.31rem;
}
.page5.content .info li.where span:nth-child(2){
	background-size: 100% 100%;
	margin-left: 0.376667rem;
}
.page5.content .info li.where strong{
	font-weight: 100;
}
.page5.content .info li:nth-child(3) strong{
	font-weight: 100;
}
.page5.content .info  li:nth-child(3) span:nth-of-type(1){
	margin-left: 0.376667rem;
	position: relative;
}
.page5.content .info li:nth-child(3) span:nth-of-type(1):after{
	content: '';
	position: absolute;
	top: 0;
	right: -0.6667rem;
	height: 0.5333rem;
	width: 1px;
	background:#CCCCCC;
}
.page5.content .info li:nth-child(3) span:nth-of-type(2){
	margin-left: 1.2rem;
}
.page5.content .info li:last-child span{
	display: inline-block;
	width: 0.426667rem;
	height: 0.426667rem;
	border-radius: 50%;
	background-size: 100% 100%;
	margin-left: 0.533333rem;
}
.page5.content .info li:last-child strong{
	font-weight: 100;
}
.page5.content .info li:last-child a span{
	background: url('../img/page5/next.png');
	width: 0.226667rem;
	height: 0.4rem;
	background-size: 100% 100%;
	margin: 0.46667rem 0.533333rem 0 0;
}
.page5.content .photos{
	height: 11rem;
	padding-top: 0.1rem;
}
.page5.content .photos .box{
	height: 2.66667rem;
	position: relative;
}
.page5.content .photos .box .picblue{
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -0.405rem;
}
.page5.content .photos .box .picblue.third{
	width: 0.81rem;
	height: 0.72rem;
}
.page5.content .photos .bigcars{
	margin-top: 0.23rem;
}
.page5.content .photos li{
	text-align: center;
	height: 3.4rem;
}
.page5.content .photos li>div{
	overflow: hidden;
	display: inline-block;
	height: 3.9667rem;
	overflow: hidden;
	width: 4.4rem;
}
.page5.content .photos li>div:first-child{
	margin-right: 0.17rem;
}
.page5.content .photos li>div>div{
	height: 2.3667rem;
	margin-top: 0.3rem;
	border: 1px solid #ccc;
	position: relative;
	overflow: hidden;
	border-radius: 0.08rem;
}
.page5.content .photos li>div>div .topright{
	display: inline-block;
	position: absolute;
	top: -0.756rem;
	right: 0;
	width: 0.93333rem;
	height: 0.9333334rem;
}
.page5.content .photos li>div>div input{
	display: none;
}
.page5.content .photos li>div img{
	height: 1.213rem;
	margin-top: 0.74rem;
	width: 3.29rem;
}
.page5.content .photos li>div p{
	box-sizing: border-box;
	margin-top: 0.3rem;
	height: 0.6rem;
	line-height: 0.1rem;
}
.page5.content .photos li:nth-child(2) .left>div img{
	display: inline-block;
	width: 2.52rem;
	height: 2.186rem;
}
.page5.content .photos li>div .picblue{
	background: url('../img/page5/camera.png');
	background-size: 100% 100%;
	box-sizing: border-box;
	width: 0.81rem;
	height: 0.72rem;
	margin-top: 0.8rem;
}
.page5.content .photos li>div .picblue input{
	display: block;
	opacity:0;
}
.page5.content .photos li>div .picblue.addpicture{
	background: url('../img/page5/camera2.png');
	background-size: 100% 100%;
}
.page5.content .photos li:nth-child(2) .left>div img.topright{
	width: 0.93333rem;
	height: 0.9333334rem;
}
.page5.content .btn-blue{
	position: fixed;
	bottom: 0.73rem;
	left: 2.33333rem;
}
.page5-modal-time{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.1);
}
.page5-modal-choose{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 4.72rem;
	background: #fff;
}
.modal-top{
	padding: 0 0.77333rem 0 0.73333rem;
	border-bottom: 1px solid #f4f4f4;
	height: 1.066667rem;
	line-height: 1.06667rem;
}
.page5-modal-time .page5-modal-choose .modal-detail{
	padding-left: 30%;
}	
.page5-modal-time .page5-modal-choose .modal-detail ul{
	text-align: center;
	float: left;
	width: 20%;
	margin: 0.4666666667rem 0;
}
.page5-modal-time .page5-modal-choose .modal-detail ul:first-child{
	position: relative;
}
.page5-modal-time .page5-modal-choose .modal-detail ul:first-child:after{
	content: ':';
	position: absolute;
	top: 50%;
	right: 0;
	height: 0.52rem;
	margin-top: -0.356rem;
	width: 1px;
	color: #000;
}
.page5-modal-time .page5-modal-choose .modal-detail ul li{
	font-size: 0.4rem;
	width: 100%;
	height: 0.9333333rem;
	line-height: 0.933333rem;
}
.page5-modal-time li.active{
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.page5-weather-time{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.1);
}
.page5-weather-time .page5-modal-choose{
	height: 6.706667rem;
}
.page5-weather-time ul{
	margin-top: 0.4666666667rem;
}
.page5-weather-time ul li{
	margin: 0;
	padding: 0;
	height: 0.93333rem;
	line-height: 0.933333rem;
	text-align: center;
	width: 100%;
}
.page5-weather-time .page5-modal-choose .modal-detail ul li.active.color-33{
	border-top: 1px solid #f4f4f4;
	border-bottom: 1px solid #f4f4f4;
}
.page5-modal-time,
.page5-weather-time{
	display: none;
}
/*page5-1*/
.page5-1.content #map{
	height: 12.3466667rem;
}
.page5-1.content .info{
	border-bottom: 1px solid #f4f4f4;
}
.page5-1.content .info .adreess{
	padding-left: 0.5333rem;
	line-height: 1.33333rem;
	height: 1.33333rem;
}
.page5-1.content .info .adreess>span{
	display: inline-block;
	width: 6.3466667rem;
	text-align: center;
}
.page5-1.content .info .adreess .mui-pull-right{
	background: url('../img/page5/next.png');
	width: 0.226667rem;
	height: 0.4rem;
	background-size: 100% 100%;
	margin: 0.43667rem 0.283333rem 0 0;
}
.page5-1.content .map-btn{
	height: 2.4rem;
	padding: 0.24rem 0.32rem;
	line-height: 2.4rem;
}
.page5-1.content .map-btn p{
	display: inline-block;
	width: 100%;
	height: 1.2rem;
	line-height: 1.2rem;
	box-shadow:0px 0px 2px rgba(56,173,255,0.2);
	text-align: center;
	background: #38ADFF;
}


/*page6*/
.page6.content .audit{
	width: 100%;
	height: 6.4rem;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#45B1FE), to(#7DC7FA));
	box-sizing: border-box;
	padding-top: 0.906667rem;
	text-align: center;
}
.page6.content .audit .round{
	width: 3.653333rem;
	height: 3.653333rem;
	background: url('../img/page6/round.png');
	background-size: 100% 100%;
	text-align: center;
	margin: auto;
}
.page6.content .audit>img{
	display: block;
	margin-top: 0.4rem;
	height: 1.46667rem;
}
.page6.content .audit .round img{
	display: inline-block;
	margin-top: 0.8rem;
	width: 1.333rem;
	height: 1.32rem;
}
.page6.content .sorry{
	text-align: center;
}
.page6.content .sorry p{
	margin-top: 0.32rem;
}
.page6.content .btn-orange{
	margin-top: 2.56rem;
}
.page6.content>a{
	display: inline-block;
	width: 3.44rem;
	margin: 2.7333rem 3.28rem 0 3.28rem;
	text-decoration: underline;
}


/*page7*/
.page7-bg{
	background: #F4F4F4;
}
.page7.content{
	padding-top: 0.4666667rem;
	padding-left: 0.4266667rem;
}
.page7.content>div{
	width: 9.16rem;
	height: 3.826667rem;
	background: red;
}
.page7.content>div:first-child{
	margin-bottom: 0.413333rem;
	background: url('../img/page7/self.png');
	background-size: 100% 100%;
}
.page7.content>div:nth-child(2){
	background: url('../img/page7/online.png');
	background-size: 100% 100%;
}
.page7.content>div:first-child .neg-right{
	float: right;
	text-align: center;
	margin-right: 0.3rem;
}
.page7.content>div:first-child .neg-right p{
	margin-top: 1.21333rem;
}
.page7.content>div:first-child .neg-right .bg-blue{
	display: inline-block;
	margin-top: 0.26667rem;
	padding: 0.093rem 0.773rem 0.093rem 0.6rem;
	border-radius: 1.913333rem;
}
.page7.content>div:nth-child(2) .on-left{
	float: left;
	text-align: center;
	margin-left: 0.3rem;
}
.page7.content>div:nth-child(2) .on-left p{
	margin-top: 1.21333rem;
}
.page7.content>div:nth-child(2) .on-left .bg-orange{
	display: inline-block;
	margin-top: 0.26667rem;
	padding: 0.093rem 0.293rem;
	border-radius: 1.913333rem;
}

/*page8*/
.page8.content .plus{
	text-align: center;
	margin-top: 2.56rem;
}
.page8.content .plus img{
	display:inline-block;
	width: 4.2rem;
	height: 2.546667rem;
	margin-bottom: 0.3rem;
}
.page8.content .btn-blue{
	margin-top: 0.76rem;
}
.page8.content .btn-blue img{
	width: 0.426667rem;
	height: 0.426667rem;
}
/*page8-1*/
.page8-1.content{
	background: #fff
}
.page8-1.content ul li{
	line-height: 1.2rem;
	height: 1.2rem;
	padding-right: 0.32rem;
	overflow: hidden;
	border-bottom: 1px solid #F4F4F4;
}
.page8-1.content ul li:first-child{
	height: 1.6rem;
	line-height: 1.6rem;
}
.page8-1.content ul li>span{
	margin-left: 0.53333rem;
}
.page8-1.content ul li input{
	outline: none;
	border: none;
	width: 4.4rem;
}
.page8-1.content ul li:first-child{
	position: relative;
}
.page8-1.content ul li:first-child span{
	margin-left: 0.66667rem;
}
.page8-1.content ul li:first-child img{
	position: absolute;
	height: 0.53333rem;
	width: 0.05333rem;
	top: 0.51333rem;
	left: 0.3466667rem;
}
.page8-1.content ul li:nth-child(2) div,
.page8-1.content ul li:nth-child(3) div,
.page8-1.content ul li:nth-child(4) div,
.page8-1.content ul li:nth-child(5) div{
	margin-top: 0.316667rem;
}
.page8-1.content ul li:nth-child(2) img,
.page8-1.content ul li:nth-child(3) img,
.page8-1.content ul li:nth-child(4) img,
.page8-1.content ul li:nth-child(5) img{
	width: 0.64rem;
	height: 0.45333rem;
	margin-left: 0.36rem;
}
.page8-1.content ul li:nth-child(5) input{
	width: 2.3rem;
}
.page8-1.content ul li:nth-child(5) span.mui-pull-left{
	display: inline-block;
	margin-top: -0.29667rem;
	/*color: red;*/
}
.page8-1.content ul li:nth-child(5) .down{
	margin-top: 0.26667rem;
	display: inline-block;
	width: 0.32rem;
	height: 0.17333rem;
}
.page8-1.content ul li:nth-child(6) img,
.page8-1.content ul li:nth-child(7) img{
	width: 0.2266667rem;
	height: 0.4rem;
	margin-left: 0.36rem;
	margin-top: 0.44rem;
}
.page8-1.content ul li:nth-child(6) p,
.page8-1.content ul li:nth-child(7) p{
	display: inline-block;
}

.page8-1.content .add-person{
	position: absolute;
	bottom: 0.733333rem;
}
.page8-1.content .add-person span{
	display: inline-block;
	width: 3.73333rem;
	text-align: center;
	line-height: 1.2rem;
	height: 1.2rem;
	border-radius: 0.6rem;
}
.page8-1.content .add-person span:first-child{
	margin-left: 0.746666rem;
}
.page8-1.content .add-person span:nth-child(2){
	margin-left: 0.88rem;
}

.acci-info .modal{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	background: rgba(0,0,0,0.1);
}
.acci-info .modal .info-modal{
	box-sizing: border-box;
	width: 7.2rem;
	height: 6.506666rem;
	margin: auto;
	margin-top: 5.106667rem;
	background: #fff;
	padding: 0.36rem 0.6rem 0;
	position: relative;
	overflow: hidden;
	border-radius: 0.213333rem;
}
.acci-info .modal .info-modal p{
	text-align: center;
}
.acci-info .modal .info-modal ul li{
	font-size: 0.3466667rem;
	height: 0.6rem;
	width: 6.13333rem;
	line-height: 0.6rem;
}
.acci-info .modal .info-modal button{
	outline: none;
	border: none;
	width: 2.993333rem;
}
.acci-info .modal .info-modal .btn-bottom{
	height: 1.08rem;
	width: 100%;
	line-height: 1.08rem;
	border-top: 1px solid #D9D9D9;
	position: absolute;
	bottom: 0;
	left: 0;
}
.acci-info .modal .info-modal .btn-bottom>div{
	float: left;
	width: 50%;
	border-right: 1px solid #D9D9D9;
	text-align: center;
}
.acci-info .modal .info-modal .btn-bottom>div:nth-child(2){
	border-right: none;
}
.acci-info .modal .info-modal .btn-bottom div button{
	text-align: center;
	margin: 0;
	padding: 0;
	line-height: 1.08rem;
	display: inline-block;
}
.page8-1.del-modal .axu{
	height: 6.506667rem;
	padding-top:0.36rem;
}
.page8-1.del-modal .axu p{
	color: #48B4FF;
	height: 0.3466667rem;
	line-height: 0.346667rem;
	margin-bottom: 0.36rem;
	border-bottom: none;
	font-size: 0.346667rem;
}
.page8-1.del-modal .axu h3{
	font-size: 0.346667rem;
	margin-left: 0.6rem;
	color: #333;
	margin-bottom: 0.226667rem;
}
.page8-1.del-modal .axu img{
	display:block;
	margin: auto;
	width: 5.973333rem;
	height: 3.453333rem;
	margin-bottom: 0.293333rem;
}
.page8-1.del-modal .axu>span:last-child:before{
	top: 0;
}
.page8-1.del-modal .axu>span:last-child:after{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 7.2rem;
	height: 1px;
	background: #D9D9D9;
}



/*page8-2*/
.page8-2-bg{
	background: #F4F4F4;
}
.page8-2.content .else{
	margin-top: 0.28rem;
	background: #fff;
	padding-left: 0.53333rem;
}
.page8-2.content .else:first-child{
	margin-top: 0;
}
.page8-2.content .else li{
	height: 1.3333rem;
	line-height: 1.3333rem;
	border-bottom: 1px solid #F4F4F4;
}
.page8-2.content .else li:first-child{
	height: 1.6rem;
	line-height: 1.6rem;
	position: relative;
}
.page8-2.content .else li span{
	margin: 0;
	padding: 0;
}
.page8-2.content .else li span.mui-pull-right{
	margin-right: 0.32rem;
}
.page8-2.content .else li:first-child>img:first-child{
	position: absolute;
	height: 0.53333333rem;
	width: 0.053333rem;
	top: 50%;
	left: -0.246666rem;
	margin-top: -0.286666rem;
}
.page8-2.content .else li:first-child>span{
	margin-left: 0.13333rem;
}
.page8-2.content .else li:first-child>img.next{
	width: 0.226667rem;
	height: 0.4rem;
	position: absolute;
	top: 50%;
	right: 0;
	margin-right: 0.32rem;
	margin-top: -0.2rem;
}
.page8-2.content .else li:last-child{
	border-bottom: none;
}
.page8-2.content .page8-1.content .mui-pull-right.next{
	width: 0.2266667rem;
	height: 0.4rem;
	position: absolute;
	top: 0.4rem;
	margin-left: 9.06667rem;
}
.page8-2.content .btn-blue{
	margin-top: 0.76rem;
}
.page8-2.content .btn-blue img{
	width: 0.426667rem;
	height: 0.426667rem;
	vertical-align: middle;
	margin-bottom: 0.07rem;
}
.page8-2.content .btn-grey{
	text-align: center;
	position: absolute;
	width: 5.33333rem;
	height: 1.2rem;
	line-height: 1.2rem;
	bottom: 0.7333rem;
	left: 2.333333rem;
	background:rgba(229,229,229,1);
	opacity:0.9;
	border-radius:0.6rem;
	box-shadow:0px 0px 2px rgba(204,204,204,0.2);
}
.page8-2.content .out-line{
	background: #fff;
	width: 100%;
	height: 2.1333rem;
	line-height: 2.13333rem;
	border-bottom: 1px solid #f4f4f4;
	border-top: 1px solid #f4f4f4;
	padding-top: 0.493333rem;
}
.page8-2.content .out-line .btn-blue{
	margin-top: 0;
}

/*page8-3*/
.page8-2.content .btn-grey.over{
	background: #48B4FF;
}
.page8-2.content .btn-grey.over.bg-grey{
	background: #CCCCCC;
}
.page8-2.content .page8-1.content .forth{
	border-bottom: none;
}
.page8-2.content .page8-1.content #other{
	box-sizing: content-box;
	margin-top: 0;
	border-top: 0.266667rem solid #f4f4f4;
}




/*page9*/
.page9.content>div{
	box-sizing: border-box;
	margin-bottom: 0.513333rem;
}
.page9.content>div .pic-outer{
}
.page9.content .pic{
	border: 1px solid #e5e5e5;
	position: relative;
	margin: auto;
	margin-top: 0.346667rem;
	width: 9.066667rem;
	height: 6.65333rem;
	box-sizing: border-box;
	padding: 0.346667rem 0.173333rem;
}
.page9.content .pic li{
	width: 4.17333rem;
	display: inline-block;
	text-align: center;
}
.page9.content .pic li:nth-child(2n){
	margin-left: 0.156rem;
}
.page9.content .pic li img{
	width: 100%;
	height: 100%;
}
.page9.content .pic>img{
	width: 1.6rem;
	height: 1.45333rem;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -0.8rem;
	margin-top: -0.726665rem;
}
.page9.content .pic li p{
	height: 0.29333rem;
	line-height: 0.29333rem;
}
.page9-btn-footer{
	margin: auto;
	margin-top: 1.86rem;
}



/*page10*/
.page10.content li{
	height: 2.77778rem;
	line-height: 2.77778rem;
	padding: 0.26666rem 0.36rem;
}
.page10.content li img{
	display: inline-block;
	width: 2.4rem;
	height: 2.13333rem;
	vertical-align: middle;
}
.page10.content li span{
	margin-left: 0.16rem;
	width: 5.37333rem;
	display: inline-block;
	vertical-align: middle;
	line-height: 0.386667rem;
}
.page10.content li>div img{
	width: 0.426667rem;
	height: 0.426667rem;
}
.page10-btn-footer{
	position: fixed;
	bottom: 0.733333rem;
	left: 2.33333rem;
}
.page10-modal{
	/*display: none;*/
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.2);
}
.page10-modal>div{
	overflow: hidden;
	width: 6.8rem;
	height: 9.333333rem;
	background: #fff;
	margin: auto;
	margin-top: 3.29333rem;
}
.page10-modal>div span{
	display: block;
	text-align: center;
	width: 100%;
	line-height: 1.06667rem;
	height: 1.06667rem;
}
.page10-modal>div p{
	padding: 0.186667rem 0.3066667rem;
	line-height: 0.42rem;
}
.page10-modal>div img{
	width: 100%;
	height: 6rem;
}
.page10-modal>div button{
	border: none;
	height: 1.06667rem;
	width: 48.5%;
}


/*page11*/
.page11.page8-2.content .else ul li:nth-child(5){
	position: relative;
}
.page11.page8-2.content .else ul li:nth-child(5)>img:first-child{
	position: absolute;
	height: 0.53333333rem;
	width: 0.053333rem;
	top: 50%;
	left: -0.246666rem;
	margin-top: -0.286666rem;
}
.page11.page8-2.content .else ul li:nth-child(5)>span{
	margin-left: 0.13333rem;
}
.page11.page8-2.content .else ul li:nth-child(5)>img.next{
	width: 0.226667rem;
	height: 0.4rem;
	position: absolute;
	top: 50%;
	right: 0;
	margin-right: 0.32rem;
	margin-top: -0.2rem;
	vertical-align: middle;
}
.page11.page8-2.content .else ul li:nth-child(5)>p{
	padding-right: 0.84rem;
}
.page11.page8-2.content .else ul li.responsibility{
	text-align: center;
	display: inline-block;
	height: 1.33333rem;
	line-height: 1.33333rem;
	width: 2.13333rem;
}
.page11.page8-2.content .else ul li.responsibility span{
	background: #F43C3C;
	text-align: center;
	display: inline-block;
	height: 0.8rem;
	line-height: 0.8rem;
	width: 2.13333rem;
	background: #F43C3C;
	border-radius: 0.1066667rem;
	color: #fff;
	font-size: 0.4rem;
}
.page11.page8-2.content .else.difer{
	height: 2.26667rem;t
	line-height: 2.26667rem;
}
.page11.page8-2.content .else.difer p{
	width: 6.7066666rem;
	line-height: 0.466667rem;
	margin-right: 0.73333rem;
	margin-top: 0.36rem;
}
.page11.page8-2.content .else.difer span,
.page11.page8-2.content .else.difer img{
	vertical-align: top;
}
.page11.page8-2.content .else ul li.responsibility.none span{
	background: #38ADFF;
}
.page11 .btn-grey.over{
	position: fixed;
}


/*page12*/
.page12 .top-info{
	height: 3.46667rem;
}
.page12 .top-info .msg{
	margin-top: 0.16rem;
}
.page12 .top-info .msg li{
	width: 5.4rem;
	font-size: 0.373333rem;
	height: 0.773333rem;
	line-height: 0.773333rem;
	color: #333;
}
.page12 .page11.page8-2.content .else li div.validation{
	background: #38ADFF;
	text-align: center;
	display: inline-block;
	height: 0.8rem;
	line-height: 0.8rem;
	width: 2.13333rem;
	border-radius: 0.1066667rem;
	color: #fff;
	font-size: 0.32rem;
	margin-right: 0.33333rem;
	margin-top: 0.216667rem;
}
.page12 .page11.page8-2.content .else li input{
	border: none;
	width: 3.8rem;
	margin-left: 0.8rem;
	text-align: right;
}
.page12 .page11.page8-2.content .else li:nth-child(5) span.font-30.color-33{
	margin-left:  0;
}
.page12 .page11.page8-2.content .btn-grey.over{
	background: #E7E7E7;
}



/*page13*/
.page13 .btn-grey.over{
	position: fixed;
	left: 0;
	width: 100%;
	background: #fff;
	margin: 0;
	padding: 0;
}
.page13 #item1,
.page13 #item2{
	margin-bottom: 2rem;
}
/*.page13 #item1{
	margin-top:2.56rem;
}*/
.page13 #item2 .else li:first-child span{
	margin-left: 0;
}
.page13 #item2 .accident-picture{
	padding: 0.133333rem 0.32rem;
	background: #fff;
}
.page13 #item2 .accident-picture li{
	width: 9.36rem;
	height: 4.8rem;
	background: #E4E0E0;
	margin-bottom: 0.266667rem;
}
.page13 #item2 .accident-picture li:last-child{
	margin-bottom: 0;
}
.page13 .btn-grey.over a{
	background: #38ADFF;
	display: inline-block;
	float: left;
	height: 1.2rem;
	width: 3.73333rem;
	border-radius: 0.6rem;
	font-size: 0.4rem;
}
.page13 .btn-grey.over a:first-child{
	margin-left: 0.933333rem;
}
.page13 .btn-grey.over a:nth-child(2){
	margin-left: 0.666667rem;
}
.page13 #double{
	background: none;
}
/*page14*/
.page14 #item3 .else,
.page14 #item4 .else{
	margin-top: 0.2666667rem;
	width: 100%;
	padding-left: 0;
}
.page14 #item3 .else ul,
.page14 #item4 .else ul{
	padding: 0 0.4rem;
}
.page14 #item3 .else ul li,
.page14 #item4 .else ul li{
	border: none;
	font-size: 0.32rem;
	height: 0.8rem;
	line-height: 0.8rem;
	padding-bottom: 0.4rem;
	color: #333;
}
.page14 #item3 .else ul li:first-child>span:first-child,
.page14 #item4 .else ul li:first-child>span:first-child{
	margin-left: 0;
}
/*.page14 #item3 .else ul li:first-child>span:last-child{
	margin-left: 1rem;
}*/
.page14 #item3 .else ul li:last-child,
.page14 #item4 .else ul li:last-child{
	padding-bottom: 0;
}
.page14 #item4 .else{
	position: relative;
}
.page14 #item4 .else img{
	width: 2rem;
	height: 2rem;
	position: absolute;
	top: 0.6rem;
	right: 1.066666rem;
}





/*login*/
.login.content{
	width: 100%;
}
.login.content .user-info{
	width: 100%;
	height: 5.33333rem;
	background: #fff;
	text-align: center;
}
.login.content .user-info .top{
	margin-top: 0.73rem;
	display: inline-block;
	width: 2.133333rem;
	height: 2.133333rem;
	border-radius: 50%;
	overflow: hidden;
}
.login.content .user-info .top img{
	display: inline-block;
	width: 2.133333rem;
	height: 2.133333rem;
}
.login.content .user-info .bottom{
	margin-top: 0.52rem;
}
.login.content .user-info .bottom strong{
	font-weight: none;
	color: #38ADFF;
}
.login.content .else{
	background: #fff;
	margin-top: 0.26667rem;
}
.login.content .else li{
	height: 1.3333rem;
	line-height: 1.3333rem;
	border-bottom: 1px solid #F4F4F4;
}
.login.content .else li:last-child{
	border-bottom: none;
}
.login.content .else li>span:first-child{
	margin-left: 0.4rem;
}
.login.content .else li>span:last-child{
	margin-right: 0.33333rem;
}
.login.content .else li img{
	margin-right: 0.266667rem;
	margin-top: 0.466667rem;
	width: 0.2266667rem;
	height: 0.4rem;
}
/*login_1*/
.login-1 .login-1-photo{
	width: 100%;
	height: 6rem;
	text-align: center;
	background: #fff;
	padding: 0.373333rem 0.533333rem;
}
.login-1 .login-1-photo>span{
	display: inline-block;
	width: 0.4rem;
	height: 0.33333rem;
	line-height: 0.33333rem;
	background: url('../img/page9/know.png');
	background-size: 100% 100%;
	font-size: 0.24rem;
	text-align: center;
}
.login-1 .login-1-photo>p{
	display: inline-block;
	line-height: 0.32rem;
}
.login-1 .login-1-photo .take-pic{
	width: 8.826666rem;
	height: 4.666667rem;
	border: 1px solid #f4f4f4;
	border-radius: 0.106667rem;
	text-align: center;
	position: relative;
}
.login-1 .login-1-photo .take-pic .take-pho{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -0.4rem;
	margin-top: -0.15rem;
	width: 0.8rem;
	height: 0.72rem;
}
.login-1 .login-1-photo .take-pic img{
	margin-top: 0.15rem;
	width: 5.97333rem;
	height: 3.453333rem;
}
.login-1 .else ul{
	padding-left: 0.4rem;
}
.login-1 .else ul li span{
	font-size: 0.4rem;
}
.login-1.login.content .else li>span:first-child{
	margin-left: 0;
}
.login-1 .else ul li input{
	margin-top: 0.4666667rem;
	margin-right: 0.373333rem;
	font-size: 0.4rem;
	float: right;
	outline: none;
	border: none;
	text-align: right;
}
.login-1 .else ul li:first-child input{
	width: 30%;
}
.login-1 .else ul li .number-choose{
	text-align: right;
	font-size: 0.4rem;
}
.login-1 .else ul li .number-choose img{
	width: 0.4rem;
	height: 0.226667rem;
	margin-left: 0.3rem;
}
.login-1 .else ul li div{
	font-size: 0.32rem;
	text-align: center;
	background: #38ADFF;
	color: #fff;
	height: 0.8rem;
	width: 2.13333rem;
	line-height: 0.8rem;
	margin-top: 0.266667rem;
	margin-right: 0.33333rem;
	border-radius: 0.1066667rem;
}
.login-1-2.login-1 .else{
	margin-top: 0;
	border-top: 1px solid #f5f5f5;
}
.login-1-2.login-1 .else ul li div{
	margin-top: 0.1rem;
	background: none;
	width: 2.7rem;
}
.login-3 .else ul li:first-child input{
	width: 50%;
}
.login-3 .btn-blue{
	display: inline-block;
	margin-left: 2.3333rem;
	margin-top: 1.066667rem;
}
.else.login-2 ul li>span:nth-child(2){
	margin-left: 0.2rem;
}
/*login-1-1-2*/
/*.login-1-1-2.login.content.login-1-2-2 .else:nth-child(2)>li:first-child>span:last-child,
.login-1-1-2.login.content.login-1-2-2 .else:nth-child(3)>li:first-child>span:last-child{
	float: right;
	text-align: right;
}*/


/*login-1-2-2*/
.login.content.login-1-2-2 .else{
	margin-top: 0;
	border-bottom: 0.266667rem solid #F3F3F3;
}
.login.content.login-1-2-2 .else:first-child ul{
	border-top: none;
}
.login.content.login-1-2-2 .else li:last-child{
	height: 1.0666667rem;
	line-height: 1.066667rem;
}
.login.content.login-1-2-2 .else li:last-child span:first-child{
	display: inline-block;
	width: 0.4rem;
	height: 0.4rem;
	margin-left: 0.4rem;
	background-size: 100% 100%;
}
.login.content.login-1-2-2 .else li:last-child>div ul{
	height: 1.0666667rem;
}
.login.content.login-1-2-2 .else li:last-child>div li{
	line-height: 1.0666667rem;
	float: left;
	font-size: 0.32rem;
	color: #333;
}
.login.content.login-1-2-2 .else li:last-child>div li img{
	width: 0.32rem;
	height: 0.32rem;
	/*vertical-align: top;*/
	margin-top: -0.08rem;
}
.login.content.login-1-2-2 .else li:last-child>div li:nth-child(2n){
	margin: 0 0.2666667rem 0 0.186667rem;
}
.bg-white{
	background: #fff;
}
 /*login-1-3-1*/
.login.content.login-1.login-1-3-1 .else ul li:first-child input{
	float: none;
	text-align: left;
}
.login.content.login-1.login-1-3-1 .btn-blue{
	margin-top: 1.066667rem;
}


/*login-2-1*/
.login.content.login-2-1 .user-info{
	width: 9.36rem;
	margin: auto;
	margin-top: 0.33333rem;
	border: 1px solid #E5E5E5;
}
.login.content.login-2-1 .user-info textarea{
	height: 100%;
	color: #333;
	border: none;
	outline: none;
	font-size: 0.373333rem;
}
.login.content.login-2-1>p{
	text-align: right;
	margin-top: 0.28rem;
	margin-right: 0.32rem;
}
.login.content.login-2-1 .else.login-2 input{
	border: none;
	outline: none;
	font-size: 0.373333rem;
}
.login.content.login-2-1 .btn-blue.sub{
	position: none;
	margin-top: 0.53333rem;
}




/*about-us*/
.about-us .user-info{
	height: 5.3333rem;
	width: 9.96rem;
	padding: 0.66667rem 0.73333rem 0.853333rem;
}
.login.content.about-us .user-info .top{
	padding: 0;
	margin: 0;
	border-radius:0 ;
	width: 1.6rem;
	height: 1.6rem;
}
.login.content.about-us .user-info .top img{
	border-radius: none;
	width: 1.6rem;
	height: 1.6rem;
}
.login.content.about-us .user-info>p{
	margin-top: 0;
	padding: 0;
}
.login.content.about-us .user-info .bottom{
	margin-top: 0;
}


/*signature*/
.signature.content{
				height: 100%;
				width: 100%;
			}
			.signature .signature.content .left{
				width: 100%;
				text-align: center;
				/*height: 1.333333333rem;*/
				border-bottom: 1px solid #F4F4F4;
				min-width: 10rem;
				line-height: 0.8rem;
				font-size: 0.32rem;
				border-radius:0.10666667rem ;
				position: relative;
			}
			.signature .signature.content .left header{
				box-shadow: none;
			}
			.signature .signature.content .left header>span{
				margin-left: 0.26666667rem;
				width: 2.1333333rem;
				height: 0.8rem;
				line-height: 0.8rem;
				border-radius: 0.1066667rem;
			}
			.signature .signature.content .left header>span{
				display: inline-block;
				color: #fff;
				font-size: 0.32rem;
				text-align: center;
				margin-left: 0.24rem;
			}
			.signature .signature.content .left header>span:first-child{
				margin-right: 1.6rem;
			}
			.signature .signature.content .left .write-name{
				width: 100%;
				height: 100%;
			}
			.signature .signature.content .left .write-name p{
				margin-top: 50%;
			}