body{
	background: #fff;
	width: 100%;
	height: 100%;
}
/*标题样式*/
.mui-bar.mui-bar-nav{
	box-shadow: none;
	text-align: center;
	line-height: 1.173rem;
	top: 0;
	background: #fff;
	border-bottom: 1px solid #ccc;
	height: 1.173333rem;
	position: relative;
	color: #000;
	font-size: 0.48rem;
	overflow: hidden;
}
.mui-bar.mui-bar-nav .mui-title.color-black{
	margin-top: 0.0051rem;
}
.mui-bar.mui-bar-nav:after{
	height: 0;
}
.mui-bar.mui-bar-nav .title.mui-pull-left{
	margin-top: 0.3467rem;
	display: inline-block;
	height: 1.173rem;
	line-height: 1.173rem;
	background: url('../img/page1/return2.png');
	background-size: 100% 100%;
	width: 0.347rem;
	height: 0.48rem;
}
.mui-bar.mui-bar-nav .color-white.mui-pull-left{
	margin-left: 0.2rem;
}
.mui-bar.mui-bar-nav .mui-title{
	font-size: 0.48rem;
	font-weight: bolder;
	font-family: '微软雅黑';
	line-height: 1.173333rem;
	margin-top: -0.07rem;
}
.mui-bar.mui-bar-nav strong{
	margin-left: 0.24rem;
	font-weight: normal;
	font-size: 0.4rem;
	float: left;
}
.top-info{
	background: #fff;
	width: 100%;
	height: 2.66667rem;
	border-bottom: 1px solid #F56954;
}
.top-info .police{
	float: left;
	width: 1.6rem;
	height: 1.68rem;
	background: url('../img/page2/police2.png');
	background-size: 100% 100%;
	margin: 0.97rem 0.45rem 0 0.56rem;
}
.top-info .msg{
	width: 6.8rem;
	height: 2.66667rem;
	float: left;
}
.top-info .msg .tit{
	font-size: 0.373rem;
	display:block;
	box-sizing: border-box;
	padding-left: 0.46667rem;
	background: #F56954;
	border-radius: 0.6rem;
	width: 2.413rem;
	height: 0.613rem;
	line-height: 0.613rem;
	background-size: 100% 100%;
	margin-top: 0.6rem;
}
.top-info .msg p{
	margin-top: 0.16rem;
	letter-spacing: 10;
	text-wrap: wrap;
	font-size: 0.373rem;
	height: 0.93rem;
	width: 7rem;
	color:rgba(51,51,51,1);
	line-height:0.4667rem;
	text-align: left;
	font-weight: none;
}

/*字体样式*/
.font-20{
	font-size: 0.2667rem;
}
.font-22{
	font-size: 0.293333rem;
}
.font-24{
	font-size:0.32rem;
}
.font-26{
	font-size: 0.346667rem;
}
.font-28{
	font-size:0.37333rem;
};
.font-30{
	font-size:0.4rem;
}
.font-32{
	font-size: 0.426667rem;
}
.color-grey{
	color:#666666;
}
.color-blue{
	color: #1E8FCF;
}
.color-lightblue{
	color: #48B4FF;
}
.color-white{
	color:#fff;
}
.color-33{
	color: #333;
}
.color-66{
	color: #666;
}
.color-cc{
	color: #ccc;
}
.color-b3{
	color: #b3b3b3;
}
.color-99{
	color: #999;
}
.color-orange{
	color: #F56954;
}
.color-black{
	color: #000;
}

/*按钮样式*/
.btn-orange{
	background: #F56954;
	display: block;
	width: 5.333rem;
	height: 1.2rem;
	margin: 0 auto;
	color: #fff;
	font-size: 0.4rem;
	text-align: center;
	line-height: 1.2rem;
	background: #F56954;
	border-radius: 0.6rem;
}
.btn-blue{
	background: #38ADFF;
	display: block;
	width: 5.333rem;
	height: 1.2rem;
	margin: 0 auto;
	color: #fff;
	font-size: 0.4rem;
	text-align: center;
	line-height: 1.2rem;
	background: #4CB5FF;
	border-radius: 0.6rem;
}
.check-grey{
	background: url('../img/page5/right.png');
}
.check-green{
	background: url('../img/page5/bigo.png');
	
}
.bg-orange{
	background: #F37765;
}
/*图片路径*/
.mui-bar.mui-bar-nav .title.mui-pull-left.bg-black{
	background: url('../img/page2/return2.png');
	background-size:100% 100% ;
}
/*背景色*/
.bg-blue{
	background:#38ADFF;
}
.bg-grey{
	background:#E5E5E5;
}
