html,body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
.home-bg{
	background: url('../img/page1/indexbg.png');
	background-size: 100% 100%;
}

/*头部样式*/
.mui-content{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: none;
}
.mui-bar-nav{
	box-shadow:none;
}
.mui-content header{
	text-align: center;
	line-height: 1.173rem;
	top: 0;
	background: none;
	border-bottom: none;
	height: 1.173rem;
	position: relative;
	color: #fff;
	font-size: 0.48rem;
}
.mui-content header .mui-pull-left{
	margin-top: 0.345rem;
	display: inline-block;
	height: 1.173rem;
	line-height: 1.173rem;
	background: url('../img/page1/return2.png');
	background-size: 100% 100%;
	width: 0.347rem;
	height: 0.48rem;
}
.mui-content header .mui-title{
	color: #fff;
	font-size: 0.48rem;
	font-weight: bold;
}
.mui-content header strong{
	margin-left: 0.24rem;
	font-weight: normal;
	font-size: 0.4rem;
	float: left;
}
.mui-content header .mui-pull-right{
	margin-top: 0.347rem;
	display: inline-block;
	background: url('../img/page1/mine2.png');
	background-size: 100% 100%;
	width: 0.413rem;
	height: 0.48rem;
}

/*内容区样式*/
.cont{
	padding: 0.53rem;
}
.cont .cont-top{
	height: 3.91rem;
}
.cont .box1,
.cont .box-2{
	display: inline-block;
}
.cont .mui-pull-left{
	width: 2.67rem;
	height: 1.87rem;
}
.cont .mui-pull-left .box1 .centigreat{
	display: inline-block;
	font-family: 'PingFang-SC-Light';
	color: #fff;
	height: 0.69rem;
	margin-top: 0.587rem;
	line-height: 0.69rem;
	width: 0.867rem;
	font-size: 0.93rem;
}
.cont .mui-pull-left .box1 .centi{
	display: inline-block;
	color: #fff;
}
.cont .mui-pull-left .box-2 {
	font-size: 0.27rem;
	color: #fff;
	font-family: 'PingFang-SC-Regular';
}
.cont .mui-pull-right{
	width: 2.2rem;
	height: 1.87rem;
}
.cont .mui-pull-right .clouds .c-box{
	box-sizing: border-box;
	vertical-align: middle;
	margin-left: 0.373rem;
	margin-top: 0.567rem;
	display: inline-block;
	width: 0.827rem;
	height: 0.667rem;
	background: url('../img/page1/weather2.png');
	background-size: 100% 100%;
}
.cont .mui-pull-right .clouds .weather{
	display: inline-block;
	vertical-align: bottom;
	margin-left: 0.26rem;
	font-size: 0.267rem;
	color: #fff;
}
.cont .mui-pull-right .wea-intro{
	font-size: 0.267rem;
	color: #fff;
	margin-left: 0.373rem;
	margin-top: 0.207rem;
}
.cont .cont-middle ul{
	height: 3.71rem;
	width: 8.8rem;
	margin-left: -0.4rem;
}
.cont .cont-middle ul li{
	list-style: none;
	float: left;
	width: 1.28rem;
	height: 1.55rem;
	background-size: 100% 100%;
	background: black;
}
.cont .cont-middle ul li:nth-child(1){
	background: url('../img/page1/ser.png');
}
.cont .cont-middle ul li:nth-child(2){
	margin: 0 1.94rem 0 1.92rem;
	width: 1.274rem;
	margin-top: -0.53rem;
	background: url('../img/page1/serach.png');
	background-position:0 0.04rem;
}
.cont .cont-middle ul li:nth-child(3){
	background: url('../img/page1/intro.png');
}
.cont .cont-bottom{
	margin-top: -1.9rem;
}
.cont .cont-bottom .outer{
	border: 1px solid transparent;
	width: 4.2667rem;
	height: 4.2667rem;
	margin: 0 auto;
	background: url(../img/page1/btn2.png);
	background-size: 100% 100%;
}
.cont .cont-bottom .outer .inner{
	margin: 1.33rem 1.25rem 1.87rem;
}
.cont .cont-bottom .outer .inner img{
	display:block;
	width: 1.76rem;
	height: 1.0667rem;
	margin: auto;
}
.cont .cont-bottom .outer .inner .inner-intro{
	font-size: 0.32rem;
	width: 1.92rem;
	color: #1E8FCF;
	text-align: center;
	display: inline-block;
}
.cont .cont-footer{
	width: 5.6rem;
	height: 0.8rem;
	/*background: #333;*/
	margin: 0.53rem auto 0;
}
.cont .cont-footer .footer-inner{
	padding: 0 0.77rem;
}
.cont .cont-footer .footer-inner .inci{
	width: 0.64rem;
	height: 0.45rem;
	display: inline-block;
	background: url('../img/page1/traffic accident2.png');
	background-size: 100% 100%;
	vertical-align: middle;
}
.cont .cont-footer .footer-inner .inci-intro{
	color: #666666;
	font-size: 0.32rem;
	vertical-align: middle;
}
